doctype html
html
  head
    title Vue.js
    link(href="/vendor/Materialize/dist/css/materialize.min.css", type="text/css", rel="stylesheet")
    link(href="/stylesheets/style.css", type="text/css", rel="stylesheet")
  body
    block body
