doctype html
html
	head
		title Vue.js
		link(href="/vendor/Materialize/dist/css/materialize.min.css", type="text/stylesheet", rel="stylesheet")
		style.
			.top-nav {
				height: 100%;
			}
			.nav .nav-wrapper {
				position: relative;
				height: 100%;
			}
			.page-title {
				line-height: 122px;
				font-size: 48px;
			}
			.item .title {
				display: none;
			}
			.item:hover .title {
				display: block;
			}
		body
			block body
