#booksApp {
  opacity: 1;
  transition: opacity .2s linear;
}

.content {
  padding-top: 30px;
  max-width: 952px;
}
.search-bar {
  margin-bottom: 25px;
}

.top-nav {
  height: 100%;
}
.nav .nav-wrapper {
  position: relative;
  height: 100%;
}
.page-title {
  line-height: 122px;
  font-size: 48px;
}

.img-reponsive {
  display: block;
  width: 100%;
}

.item-block {
  display: block;
}
.item-title {
  display: block;
  padding: 5px;
  height: 54px;
}
.item-image {
  display: block;
  position: relative;
  height: 205px;
  overflow: hidden;
}


/*
 * Modal
 */
.modal .author {
  color: #666;
}


/*
 * Loading
 */
.relative {
  position: relative;
}

.loading {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 30px;
  text-align: center;
  font-size: 24px;
  color: #666;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.hidden {
  opacity: 0;
}